@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
select:active {
  outline: none;
  border: 0;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  @apply text-black3
}

 .container-page {
  @apply xl:max-w-[1280px] mx-auto xl:p-0 px-4
}
.line-default {
  @apply block border-b-4 border-b-[#f4f4f4]
}
.account-left {
  width: calc((100% - 384px) - 64px);
}

.account-left .ant-tabs .ant-tabs-tab {
  @apply text-black3 hover:text-secondary
}
.account-left .ant-tabs .ant-tabs-ink-bar{
  @apply bg-primary !important

}
.account-left .ant-tabs-nav .ant-tabs-tab-btn {
  @apply font-medium text-lg w-full !important
}
.account-left .ant-tabs-tab.ant-tabs-tab-active > div {
  @apply text-primary !important
}

/* Menu header */
 .ant-dropdown-menu  {
  @apply rounded p-0 !important
}
.ant-dropdown-menu .ant-dropdown-menu-item {
  @apply w-48 text-center text-base py-2 rounded-none hover:border-l-4 hover:border-l-primary hover:text-primary hover:bg-[#e8fbf7] !important
}
.fast-buy .ant-form-item {
  @apply mb-0
}
.fast-buy .ant-select-selector {
  @apply bg-white !important
}
.fast-buy .ant-select-disabled {
  @apply border-none !important
}
.ant-radio-inner {
  @apply border-primary !important
}
.ant-radio-checked .ant-radio-inner {
  @apply bg-primary border-primary  !important
}
/* menu hidden */
.ant-menu-submenu-title  {
  @apply text-black43 hover:text-primary !important
}
.ant-menu-item-selected {
  @apply text-black43 bg-white hover:text-primary !important

}
/* css dots */
.slick-slider {
  @apply relative
}
.slick-dots {
  @apply bottom-3 !important
}

.slick-dots > li {
  @apply w-3 h-3 border border-white rounded-full !important
}
.slick-dots > li.slick-active {
  @apply bg-white text-white !important
}
.slick-dots li button:before {
  @apply text-transparent !important
}
.slick-dots li.slick-active button:before {
  @apply text-white !important
}